/* General font color */
body {
    color: #333333; /* Replace with your desired color code */
  }
  
  /* Heading colors */
  h1, h2, h3, h4, h5, h6 {
    color: #ff0000; /* Replace with your desired color code */
  }
  
  /* Links */
  a {
    color: #007acc; /* Replace with your desired color code */
  }
  
  /* Links on hover */
  a:hover {
    color: #005f99; /* Replace with your desired color code */
  }

  .page__hero--overlay .page__title,.page__hero--overlay .page__meta,.page__hero--overlay .comment__date,.page__hero--overlay .page__lead,.page__hero--overlay .btn {
    color: #ff0000;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
}